body{
    a{  color: black; 
        text-decoration: none;}
    li {list-style: none;}
}
#hd{
    .gnb{
        &:hover{
            ul{
                max-height: 180px !important; 
            }
        }
        .d1{
            .gnb_d1_a{
                //대메뉴
                font-size: 1.2em;
            }
            ul{
                //소메뉴
                min-width: 80px;
                white-space: nowrap;
                max-height: 0;
                transition: max-height 0.5s;
                overflow: hidden;
                padding: 0 1rem !important;
                border: 0 !important;

                &:before,&:after{
                    content: "";
                    display: block;
                    height: 16px;
                }

                li{
                    a{
                        font-size: 0.9rem;
                        color: white;
                    }
                }
            }
            .gnb_d1_ul{
                left: -3rem;
            }
        }
    }
}